<p>Hi <%= @user.first_name %>,</p>

<p>There is a new post from <%= @poster %> in <%= @community.name %>:</p>

<% if @post.image %>
    <%= image_tag @post.image.thumb('100x100#').url %>
<% end %>

<p><%= @post.description %></p>

<p>
  Click <%= link_to 'here', post_url(@post, host: 'bcn.thehoick.com') %> to view.
</p>

<p>Thanks,<br/>Boone Community Network Team</p>
