<div class="hidden <%= dom_id(comment) %>_new">
  <p>Reply:</p>
  <%= form_tag comment_comments_path(comment), :enctype => "multipart/form-data", :class => 'comment' do %>
      <div class="row">
        <div class="large-12 columns actions">
          <%= image_tag 'avatar.png', class: 'hidden image_to_upload' %>

          <%= label_tag :photo, 'Add a pic?'%>
          <%= file_field_tag 'comment[photo]', class: 'photo_upload' %>
          <%= hidden_field_tag :retained_photo %>

          <%= text_area_tag 'comment[content]', '', :id => 'content_' + dom_id(comment) %>

          <div>
            <label for="commentor">Comment As:</label>
            <select name="comment[organization_id]" id="post_organization">
              <option value=""></option>
              <% current_user.organizations.each do |organization| %>
                <option value="<%= organization.id %>"><%= organization.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns actions">
          <%= button_tag type: 'submit', class: 'button small success', id: "save_#{dom_id(comment)}" do %>
              <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
              &nbsp;
              Save Comment
          <% end %>
        </div>
      </div>
  <% end %>
</div>