Hi <%= @user.first_name %>,

There is a new comment from <%= @commenter %> on post <%= @post.title %>:

<%= @comment.content %>

Browse here: <%= post_url(@post) %> to reply.


<p>Thanks,<br/>Boone Community Network Team</p>