<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert-box alert radius">
          <h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <% if message == 'Email has already been taken' %>
                    <li>
                      <p>Email has already been taken.</p>
                      <% if !current_user.facebook_id.nil? || !current_user.twitter_id.nil? %>
                        <%= link_to 'Click Here To Request Merge', send_merge_path,
                                    :id => 'merge_link',
                                    :class => 'button small' %>
                      <% end %>
                    </li>
                <% else %>
                    <li><%= message %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="large-4 columns">
        <% if @user.photo  %>
            <%= image_tag @user.photo.thumb('150x150#').url, :class => 'avatar' %>
        <% else %>
            <%= image_tag 'avatar.svg', :class => 'avatar' %>
        <% end %>

        <%= image_tag 'swap-icon.svg', size: '75x75', class: 'hidden swap' %>
        <%= image_tag 'avatar.png', class: 'hidden image_to_upload' %>

        <%= f.file_field :photo, class: 'photo_upload' %>
        <%= f.hidden_field :retained_photo %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :web_link, 'Website' %>
        <%= f.text_field :web_link %>
      </div>
    </div>


    <div class="row">
      <div class="large-4 columns actions">
        <%= button_tag type: 'submit', class: 'button small success' do %>
            <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
            &nbsp;
            Update Profile
        <% end %>
      </div>
    </div>

<% end %>
