<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>ID #</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Created At</th>
      <th>Facebook ID</th>
      <th>Twitter ID</th>
      <th>Google ID</th>
      <th colspan="">Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.created_at %></td>
        <td><%= user.facebook_id %></td>
        <td><%= user.twitter_id %></td>
        <td><%= user.google_id %></td>
        <td>
          <%= link_to 'Show', user %>
          <br/><br/>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br/><br/>
          <% if user.admin? %>
            <%= link_to 'Admin!', '/remove_admin/' + user.id.to_s, method: :delete %>
        <% else %>
              <%= link_to 'Admin?', add_admin_path(user), method: :put %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><br/>