<%= content_for(:title) do %><%= @user.username if @user.username %> | <% end %>
<%= content_for(:meta_og) do %>
    <meta property="og:type" content="profile" />
    <% if @user.username %>
        <meta property="og:title" content="<%= @user.username %>" />
        <meta property="og:username" content="<%= @user.username %>" />
    <% else %>
        <meta property="og:title" content="Anonymous User Profile" />
    <% end %>
    <% if @user.first_name %>
        <meta property="og:first_name" content="<%= @user.first_name %>" />
    <% end %>
    <% if @user.last_name %>
        <meta property="og:last_name" content="<%= @user.last_name %>" />
    <% end %>
    <% if @user.photo %>
        <%= tag :meta, property: 'og:image', content: "http://#{request.host}#{@user.photo.url}" %>
    <% end %>
<% end %>

<div class="row">

  <div class="large-2 columns">
    <% if @user.photo %>
        <%= image_tag @user.photo.thumb('150x150#').url, :class => 'avatar', data: { action: 'zoom' } %>
    <% else %>
        <%= image_tag 'avatar.svg', :class => 'avatar' %>
    <% end %>
  </div>

  <div class="large-10 columns">
    <p>
      <strong>Name:</strong>
      <% if @user.first_name and @user.last_name %>
          <%= @user.first_name + ' ' + @user.last_name %>
      <% elsif @user.first_name %>
          <%= @user.first_name %>
      <% elsif @user.last_name %>
          <%= @user.last_name %>
      <% end %>
    </p>
    <% if current_user == @user %>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
    <% end %>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <div>
      <strong>Links:</strong><br/>
      <% if @user.web_link %>
          <%= link_to @user.web_link, class: 'web-link', target: '_blank' do %>
              <% image_tag 'globe-icon.svg', class: 'image-link' %>
          <% end %>
      <% end %>
      <% if @user.facebook_link %>
          <%= link_to @user.facebook_link, target: '_blank' do %>
              <% image_tag 'facebook-icon.svg', class: 'image-link' %>
          <% end %>
      <% end %>
      <% if @user.twitter_link %>
          <%= link_to @user.twitter_link, target: '_blank' do %>
              <% image_tag 'twitter-icon.svg', class: 'image-link' %>
          <% end %>
      <% end %>
      <% if @user.google_link %>
          <%= link_to @user.google_link, target: '_blank' do %>
              <% image_tag 'google-icon.svg', class: 'image-link' %>
          <% end %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="large-6 columns">
      <br/><br/>
      <%= markdown(@user.bio) if @user.bio %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <% if current_user == @user %>
          <%= link_to edit_user_path(@user), class: 'button tiny icon edit-profile', title: 'Edit Profile' do %>
              <% image_tag 'edit-icon.svg', class: 'icon' %>
          <% end %>
      <% end %>
      <br/>

    </div>
  </div>

</div>

<div class="row">
  <div class="large-6 columns">
    <br/><hr/><br/>
  </div>
</div>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#posts">Posts</a></li>
  <li class="tab-title"><a href="#communities" class="">Communities</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="posts">
    <div class="large-6 columns">
      <ul class="posts no-bullet">
        <% @user.posts.reverse_each do |post| %>
            <%= render 'layouts/posts_list', post: post %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="content" id="communities">
    <div>
      <% if @user.communities %>
          <ul class="communities no-disc">
            <% @user.communities.each do |community| %>
                <%= render 'layouts/communities_list', community: community %>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>
