<div class="row">
  <div class="large-2 columns">
    <% if @user.photo %>
        <%= image_tag @user.photo, :class => 'avatar' %>
    <% else %>
        <%= image_tag 'avatar.png', :class => 'avatar' %>
    <% end %>
  </div>
  <div class="large-10 columns">
    <p>
      <strong>Name:</strong>
      <%= @user.first_name + ' ' + @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Links:</strong><br/>
      <%= link_to @user.web_link, target: '_blank' do %>
        <% image_tag 'globe.png', class: 'image-link' %>
      <% end %>
    </p>
  </div>
</div>


<p>
  <strong>Communities:</strong>
  <ul>
    <% @user.communities.each do |community| %>
      <li>
        <%= link_to community.name, community %>
        <%= form_tag("/communities/#{community.id}/users", method: 'delete') do |f| %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag 'Leave Community', :class => 'button tiny secondary' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', users_path %>
