<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Communities:</strong>
  <ul>
    <% @user.communities.each do |community| %>
      <li>
        <%= link_to community.name, community %>
        <%= form_tag("/communities/#{community.id}/users", method: 'delete') do |f| %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag 'Leave Community', :class => 'button tiny secondary' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', users_path %>
