<div class="large-6 columns">
  <h2>Boone</h2>

  <div id="map"></div>

  <br/><br/>
  <button class="all_communities success tiny">All</button>

  <% @communities.each do |community| %>
      <button class="community tiny" id="<%= dom_id(community) %>"><%= community.name %></button>
  <% end %>

</div>

<div class="large-6 columns">
  <h2>Recent Posts</h2>
  <ul class="posts no-bullet">
    <% @posts.each do |post| %>
        <%= render 'layouts/posts_list', post: post %>
    <% end %>
  </ul>

  <%= link_to posts_path, class: 'button tiny secondary' do %>
      <%= image_tag 'ellipses-icon.svg', size: '25x25', class: 'ty-icon' %>
       More Posts
  <% end %>

  <br/><br/>

</div>


