<%= content_for(:title) do %> Home | <% end %>
<%= content_for(:meta_og) do %>
  <meta property="og:title" content="Home | BCN" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Find the latest interests, events, and goings on in the Boone, NC area." />
  <%= tag :meta, property: 'og:image', content: image_url('bcn_logo.png') %>
<% end %>

<div class="row">
  <div class="large-8 columns">

    <div class="map-container">
      <div id="map"></div>
    </div>


    <div class="row">
      <div class="large-12 columns">

        <fieldset>
          <legend>Search Map</legend>
          <div class="row collapse">
            <div class="small-10 columns">

              <%= text_field_tag 'Name', '', placeholder: 'Name', class: 'loc-search' %>
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix loc-search-button">Search</a>
            </div>
          </div>
        </fieldset>

      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <fieldset>
          <legend>Event Filters</legend>

          <button class="success tiny" id="all_posts">All</button>
          <button class="time success tiny" data-time="today">Today</button>
          <button class="time success tiny" data-time="tomorrow">Tomorrow</button>
          <button class="time success tiny" data-time="next_week">Next Week</button>
        </fieldset>
      </div>

      <div class="large-6 columns">
        <fieldset>
          <legend>Community Filters</legend>
          <div>
            <button class="all_communities tiny">All</button>
            <div class="communities-wrapper">
              <% if @commnities.blank? %>
                <% @communities.each do |community| %>
                  <button class="community tiny" data-id="<%= community.id %>" id="<%= dom_id(community) %>">
                    <%= community.name %>
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


  </div>


  <div class="large-4 columns">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentational" >
        <a href="#recent" role="tab" tabindex="0" aria-selected="true" controls="dates">Recent Posts</a>
      </li>
      <li class="tab-title" role="presentational" >
        <a href="#events" id='events-tab' role="tab" tabindex="0" aria-selected="true" controls="dates">Upcoming Events</a>
      </li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="recent">
        <div class="posts-wrapper">
          <ul class="posts no-bullet">
            <% @posts.each do |post| %>
              <%= render 'layouts/posts_list', post: post %>
            <% end %>
          </ul>
        </div>
      </section>
      <section role="tabpanel" aria-hidden="false" class="content" id="events">
        <div class="events-wrapper">
          <ul class="events no-bullet">
            <% @events.each do |post| %>
              <%= render 'layouts/posts_list', post: post %>
            <% end %>
          </ul>
        </div>
      </section>
    </div>


    <%= link_to posts_path, class: 'button tiny secondary' do %>
      <%= image_tag 'ellipses-icon.svg', size: '25x25', class: 'ty-icon' %>
      More Posts
    <% end %>

    <br/><br/>

  </div>
</div>

<br/><br/>

