<%= content_for(:title) do %> Home | <% end %>
<%= content_for(:meta_og) do %>
  <meta property="og:title" content="Home | BCN" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Find the latest interests, events, and goings on in the Boone, NC area." />
  <%= tag :meta, property: 'og:image', content: image_url('bcn_logo.png') %>
<% end %>

<div class="row">
  <div class="large-8 columns">

    <div class="row">

      <div class="large-12 columns no-side-padding">

        <fieldset class="map-set">
          <legend>Search Map</legend>
          <div class="row collapse">
            <div class="small-10 columns">

              <%= text_field_tag 'Name', '', placeholder: 'Name', class: 'loc-search', id: 'home_loc_search' %>
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix loc-search-button">
                <%= image_tag 'search-icon.svg', class: 'ty-icon' %>
              </a>
            </div>
          </div>
        </fieldset>

      </div>
    </div>


    <div class="row">
      <div class="small-12 small-only-text-center large-5 columns no-side-padding text-left time-button-list">
        <ul class="button-group">
          <li><a href="#" class="button map-button tiny all_posts" id="all_posts_btn">All</a></li>
          <li><a href="#" class="button map-button time success tiny" data-time="today">Today</a></li>
          <li><a href="#" class="button map-button time success tiny" data-time="tomorrow">Tomorrow</a></li>
          <li><a href="#" class="button map-button time success tiny" data-time="next_week">Next Week</a></li>
        </ul>
      </div>

      <div class="small-12 small-only-text-center large-8 columns no-side-padding text-right community-button-list">
        <ul class="button-group">
          <li>
            <% if @commnities.blank? %>
              <% @communities.each do |community| %>
                <a class="community community_<%= community.id %> map-button tiny"
                   data-id="<%= community.id %>"
                   id="<%= dom_id(community) %>"
                >
                  <%= community.name %>
                </a>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>

  </div>


  <div class="large-4 columns">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentational" >
        <a href="#recent" role="tab" tabindex="0" aria-selected="true" controls="dates">Recent Posts</a>
      </li>
      <li class="tab-title" role="presentational" >
        <a href="#events" id='events-tab' role="tab" tabindex="0" aria-selected="true" controls="dates">Upcoming Events</a>
      </li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="recent">
        <div class="posts-wrapper">
          <ul class="posts no-bullet">
            <% @posts.each do |post| %>
              <%= render 'layouts/posts_list', post: post %>
            <% end %>
          </ul>
        </div>
      </section>
      <section role="tabpanel" aria-hidden="false" class="content" id="events">
        <div class="events-wrapper">
          <ul class="events no-bullet">
            <% @events.each do |post| %>
              <%= render 'layouts/posts_list', post: post %>
            <% end %>
          </ul>
        </div>
      </section>
    </div>


    <%= link_to posts_path, class: 'button tiny secondary' do %>
      <%= image_tag 'ellipses-icon.svg', size: '25x25', class: 'ty-icon' %>
      More Posts
    <% end %>

    <br/><br/>

  </div>
</div>

<br/><br/>

