<div class="comment">
  <div class="row">
    <div class="large-6 columns comment-meta">
      <% if comment.organization %>
        <%= link_to comment.organization do %>
          <%= image_tag comment.organization.image.thumb('50x50#').url if comment.organization.image %>
        <% end %>

      <% elsif comment.user %>
        <%= link_to comment.user do %>
          <%= image_tag comment.user.photo.thumb('50x50#').url %>
        <% end %>
      <% else %>
        <%= image_tag 'avatar.svg', size: '50x50' %>
      <% end %>
      <%= comment.created_at.strftime('%m/%d/%Y %I:%M%P') %>
      by
      <% if comment.organization %>
        <%= link_to comment.organization.name, comment.organization %>
      <% elsif comment.user %>
        <%= link_to comment.user.username, comment.user %>
      <% else %>
        Anonymous
      <% end %>

      </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= markdown(comment.content) %>
    </div>
  </div>

    <div class="row">
    <div class="large-12 columns image-row">
      <% if comment.photo %>
          <%= image_tag comment.photo.url, class: 'comment-photo', data: { action: 'zoom' } %>
      <% end %>
    </div>

      <div class="large-6 columns left">
        <% if current_user %>
            <% if current_user == comment.user || current_user.admin? %>
                <a href="#" class="button tiny secondary toggle comment-edit icon"
                   data-toggle="<%= dom_id(comment) %>_edit"
                   title="Edit Comment"
                >
                  <%= image_tag 'edit-icon-black.svg', class: 'icon toggle', data: { toggle: "#{dom_id(comment)}_edit" } %>
                </a>

                <a href="#" class="button tiny secondary toggle comment-add icon"
                   data-toggle="<%= dom_id(comment) %>_new"
                   title="Reply to Comment">
                  <%= image_tag 'reply-icon.svg', class: 'icon toggle', data: { toggle: "#{dom_id(comment)}_new" } %>
                </a>

                <%= render 'edit_comment_form', {:comment => comment}%>
            <% else %>

                <a href="#" class="button tiny secondary toggle comment-add icon"
                   data-toggle="<%= dom_id(comment) %>_new"
                   title="Reply to Comment">
                  <%= image_tag 'reply-icon.svg', class: 'icon toggle', data: { toggle: "#{dom_id(comment)}_new" } %>
                </a>

            <% end %>
        <% end %>

        <div class="comment-comment">
          <%= render 'new_comment_form', {:comment => comment}%>
        </div>

      </div>
  </div>

  <% if comment.children %>
      <% if comment.descendants.count > 5 %>
          <div class="row">
            <div class="large-12 columns comments">
              <%= link_to comment, class: 'button small' do %>
                  <%= image_tag 'chat-icon.svg', size: '25x25' %>
                &nbsp;More Comments
              <% end %>
              </div>
          </div>
          <% else %>

      <div class="row">
        <div class="large-12 columns comments">

          <%= render 'comments', {comments: comment.children} %>
        </div>
      </div>
      <% end %>
<% end %>

</div>