
    <div class="row">
        <% comments.each do |comment| %>
              <% if comment.user %>

                  <div class="comment">
                  <%= comment.id %> &nbsp;&nbsp;&nbsp;
                  <%= comment.content %>

                  <% if comment.photo %>
                      <%= image_tag comment.photo.url, class: 'comment-photo' %>
                  <% end %>
                  <br/>

                  <%= comment.created_at.strftime('%m/%d/%Y %I:%M%P') %>
                  by
                  <%= link_to comment.user.username, comment.user %>

                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <% if current_user == comment.user || current_user.admin? %>
                      <button class="button tiny secondary toggle comment-edit" data-toggle="<%= dom_id(comment) %>_edit">Edit</button>
                      <button class="button tiny secondary toggle comment-add" data-toggle="<%= dom_id(comment) %>_new">Reply?</button>

                      <%= render 'comment_form', {:comment => comment}%>
                  <% end %>

                  <div class="comment-comment">
                    <%= render 'new_comment_form', {:comment => comment}%>
                  </div>


                    <% if comment.children %>
                        <div class="row">
                          <div class="large-12 columns comments">

                            <%= render 'comments', {comments: comment.children} %>
                          </div>
                        </div>
                    <% end %>

            <% else %>
              <div class="comment">

              <%= comment.id %> &nbsp;&nbsp;&nbsp;
                  <%= comment.content %>
                  <br/>
                  <%= comment.created_at.strftime('%m/%d/%Y %I:%M%P') %>
                  by Anonymous

                  &nbsp;&nbsp;&nbsp;&nbsp;
              </div>

              <% end %>

        <% end %>
      </div>
    </div>