<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert-box alert radius">
      <h5><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h5>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns communities">
        <% if @communities %>

         <%= f.label "Communities" %>
         <%= f.collection_select :community_ids, @communities, :id, :name, {}, {:multiple => true} %>
        <% end %>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="large-4 columns">
        <input id="event" type="checkbox" class="toggle" data-toggle="hidden" />  Event?
      </div>
    </div>

    <div class="hidden">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <%= f.label :start_date %>
            <% if @post.start_date %>
                <%= f.text_field :start_date, :value => @post.start_date.strftime("%m/%d/%Y"),
                             :class => 'datepicker',
                             :style => 'width: 165px;' %>
            <% else %>
                <%= f.text_field :start_date, :class => 'datepicker', :style => 'width: 165px;' %>
            <% end %>
          </div>
          <div class="large-2 columns left">
            <%= f.label 'Start time' %>
            <% if @post.start_time %>
                <%= f.text_field :start_time,
                                 :value => "#{(@post.start_time - 4.hours).to_s(:time)}",
                                 :class => 'clockpicker' %>
            <% else %>
                <%= f.text_field :start_time, :class => 'clockpicker' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <%= f.label :end_date %>
            <% if @post.start_date %>
                <%= f.text_field :end_date, :value => @post.start_date.strftime("%m/%d/%Y"),
                             :class => 'datepicker',
                             :style => 'width: 165px;' %>
            <% else %>
                <%= f.text_field :end_date, :class => 'datepicker', :style => 'width: 165px;' %>
            <% end %>
          </div>
          <div class="large-2 columns left">
            <%= f.label 'End time' %>
            <% if @post.end_time %>
                <%= f.text_field :end_time,
                                 :value => "#{(@post.end_time - 4.hours).to_s(:time)}",
                                 :class => 'clockpicker' %>
            <% else %>
                <%= f.text_field :end_time, :class => 'clockpicker' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="large-4 columns actions">
        <%= f.submit 'Save Post', :class => 'button small success' %>
      </div>
    </div>

  <br/>
  <% if params[:lat] and params[:lon] %>
    <%= f.hidden_field :lat, :value => params[:lat] %>
    <%= f.hidden_field :lon, :value => params[:lon] %>
  <% end %>
<% end %>