<%= form_for(@post, multipart: true, data: {'abide' => true})  do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation" class="alert-box alert radius">
          <h5><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h5>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="large-4 columns">
        <fieldset>
          <legend>Details</legend>

          <div class="row">
            <div class="large-12 columns input-wrapper">
              <%= f.label :title if action_name == 'edit' %>
              <%= f.text_field :title, placeholder: 'Title', data: { 'abide-validator' => 'notUrl140Max' } %>
              <small class="error">Sorry, Title cannot be a URL, or larger then 140 characters.</small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns communities">
              <%= f.label :communities if action_name == 'edit' %>
              <% if @communities %>
                  <%= f.select :community_ids,
                               @communities.map { |u| [u.name, u.id] },
                               { include_blank: true },
                               { class: 'chosen-select',
                                 multiple: true,
                                 data: { 'placeholder' => 'Select Communities (or start typing their name)' }
                               }
                  %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.text_field :og_url, id: 'post-link', placeholder: 'Link http://...' %>
              <div id="link-meter" class="progress hidden">
                <span class="meter" style="width: 0"></span>
              </div>
            </div>
          </div>
          <div class="row og-row">
            <div class="large-8 columns og-data hidden">
              <a href="#" class="og-url" target="_blank">
                <img src="#" class="th og-image"/>
                <h5 class="og-title"></h5>
                <p class="og-description"></p>
              </a>
              <p class="grey og-error hidden"></p>
            </div>
            <%= f.hidden_field :og_url %>
            <%= f.hidden_field :og_image %>
            <%= f.hidden_field :og_title %>
            <%= f.hidden_field :og_description %>
          </div>

          <% if action_name == 'new' %>
              <div class="row">
                <div class="large-12 columns">

                  <div class="row collapse">
                    <div class="small-10 columns">
                      <%= text_field_tag 'Location Name', '', placeholder: 'Location Name', class: 'new-location' %>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button postfix location-button">Search</a>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

        </fieldset>
      </div>
    </div>

    <div class="row map-row hidden">
      <div class="large-6 columns">
        <fieldset>
          <legend>Location</legend>
          <div class="map-container">
            <div id="map" class="new-post-map"></div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label 'Content' if action_name == 'edit' %>
        <%= f.text_area :description, :placeholder => "What's happening?" %>
      </div>
    </div>


    <!--<br/>-->
    <!--<div class="row">-->
    <!--<div class="large-4 columns">-->
    <!--<input id="event" type="checkbox" class="toggle" data-toggle="eventBox" />-->
    <!--<label for="event" class="toggle" data-toggle="eventBox">Event?</label>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="large-4 columns">
        <fieldset>
          <legend>Event?</legend>

          <!--<div class="eventBox">-->
          <div class="row">
            <div class="large-12 columns">
              <div class="large-6 columns">
                <%= f.label 'Start date' %>
                <%= f.text_field :start_date, :class => 'datepicker',
                                 :placeholder => DateTime.now.strftime('%Y-%m-%d'),
                                 'data-date-format' => 'yyyy-mm-dd' %>
              </div>
              <div class="large-6 columns left">
                <%= f.label 'Start time' %>
                <% if @post.start_time %>
                    <%= f.text_field :start_time,
                                     :value => "#{(@post.start_time).to_s(:time)}",
                                     :class => 'clockpicker' %>
                <% else %>
                    <%= f.text_field :start_time, :class => 'clockpicker',
                                     :placeholder => Time.now.to_s(:time)
                    %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="large-6 columns">
                <%= f.label :end_date %>
                <%= f.text_field :end_date, :class => 'datepicker',
                                 :placeholder => DateTime.now.strftime('%Y-%m-%d'),
                                 'data-date-format' => 'yyyy-mm-dd' %>
              </div>
              <div class="large-6 columns left">
                <%= f.label 'End time' %>
                <% if @post.end_time %>
                    <%= f.text_field :end_time,
                                     :value => "#{(@post.end_time).to_s(:time)}",
                                     :class => 'clockpicker' %>
                <% else %>
                    <%= f.text_field :end_time, :class => 'clockpicker',
                                     :placeholder => Time.now.to_s(:time)
                    %>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!--</div>-->

    <div class="row">
      <div class="large-4 columns">
        <fieldset>
          <legend>Upload File</legend>
          <div class="row">
            <div class="large-12 columns">
              <%= image_tag 'avatar.png', class: 'hidden image_to_upload' %>

              <%= f.label :image, 'Add a pic?'%>
              <%= f.file_field :image, class: 'photo_upload' %>
              <%= hidden_field_tag :retained_photo %>
            </div>
          </div>

          <br/><br/>

          <div class="row">
            <div class="large-12 columns">

              <%= f.label :audio, 'Add an audio file?'%>
              <%= f.file_field :audio, class: 'audio_upload' %>
              <%= hidden_field_tag :retained_photo %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

  <br/>

  <% if action_name == 'new' %>
    <div class="row">
      <div class="large-4 columns actions">
        <label for="post_organizations">Post as Organization:</label>
        <%= f.select :organization_id,
                     current_user.organizations.map {|x| [x.name, x.id]},
                     { :include_blank => true } %>
      </div>
    </div>
  <% end %>

    <br/><br/>

    <div class="row">
      <div class="large-4 columns actions">
        <%= button_tag type: 'submit', class: 'button small success' do %>
            <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
            &nbsp;
            Save Post
        <% end %>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Cancel', request.env["HTTP_REFERER"] %>
      </div>
    </div>

    <br/>
    <% if params[:lat] and params[:lon] %>
          <%= f.hidden_field :lat, :value => params[:lat], class: 'form-lat' %>
        <%= f.hidden_field :lon, :value => params[:lon], class: 'form-lon' %>
    <% end %>
<% end %>