<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert-box alert radius">
      <h5><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h5>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="large-4 columns">
        <%= f.text_field :title, :placeholder => 'Title' %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.text_area :description, :placeholder => "What's on your mind?" %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns communities">
        <% if @communities %>

            <!--<%= f.label "Select Multiple Communities (or just one)" %>
         <%= f.collection_select :community_ids, @communities, :id, :name, {}, {:multiple => true} %>-->

           <!--<%= f.label 'Or' %>-->
            <!--<%= autocomplete_field_tag 'post[community_ids_names][]', '', '/posts/autocomplete_community_name',
                                       :class => 'auto',
                                       :id => 'post_community_ids_auto',
                                       :id_element => '#post_community_ids',
                                       :placeholder => 'Search Communities (add a comma separated list)'
            %>-->
            <!--<%= f.text_field :community_ids , :disabled => true %>-->
            <% if action_name == 'new' %>
                <%= autocomplete_field_tag 'post[community_name]',
                                         '',
                                         '/posts/autocomplete_community_name',
                                           :placeholder => 'Community'
                %>
            <% end %>
            <ul id="communities">

            </ul>
        <% end %>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="large-4 columns">
        <input id="event" type="checkbox" class="toggle" data-toggle="hidden" />  Event?
      </div>
    </div>

    <div class="hidden">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <%= f.label 'Start date' %>
            <%= f.text_field :start_date, :class => 'datepicker',
                             :placeholder => DateTime.now.strftime('%Y-%m-%d'),
                             'data-date-format' => 'yyyy-mm-dd' %>
          </div>
          <div class="large-2 columns left">
            <%= f.label 'Start time' %>
            <% if @post.start_time %>
                <%= f.text_field :start_time,
                                 :value => "#{(@post.start_time).to_s(:time)}",
                                 :class => 'clockpicker' %>
            <% else %>
                <%= f.text_field :start_time, :class => 'clockpicker',
                                 :placeholder => Time.now.to_s(:time)
                %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <%= f.label :end_date %>
            <%= f.text_field :end_date, :class => 'datepicker',
                             :placeholder => DateTime.now.strftime('%Y-%m-%d'),
                             'data-date-format' => 'yyyy-mm-dd' %>
          </div>
          <div class="large-2 columns left">
            <%= f.label 'End time' %>
            <% if @post.end_time %>
                <%= f.text_field :end_time,
                                 :value => "#{(@post.end_time).to_s(:time)}",
                                 :class => 'clockpicker' %>
            <% else %>
                <%= f.text_field :end_time, :class => 'clockpicker',
                                 :placeholder => Time.now.to_s(:time)
                %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="large-4 columns actions">
        <%= f.submit 'Save Post', :class => 'button small success' %>
      </div>
    </div>

  <br/>
  <% if params[:lat] and params[:lon] %>
    <%= f.hidden_field :lat, :value => params[:lat] %>
    <%= f.hidden_field :lon, :value => params[:lon] %>
  <% end %>
<% end %>