<div class="hidden <%= dom_id(comment) %>_new">
  <%= form_tag comment_comments_path(comment), :enctype => "multipart/form-data", :class => 'comment' do %>
      <div class="row">
        <div class="large-4 columns actions">
          <%= label_tag :photo, 'Add a pic?'%>
          <%= file_field_tag 'comment[photo]' %>
          <%= hidden_field_tag :retained_photo %>

          <%= text_area_tag 'comment[content]', '', :id => 'content_' + dom_id(comment) %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns actions">
          <%= submit_tag 'Save Comment', :class => 'button small success', :id => 'save_' + dom_id(comment) %>
        </div>
      </div>
  <% end %>
</div>