<div class="small-12 large-12 columns">

  <h1>Events</h1>
  <p class="grey">What's going on in the Boone community...</p>
  <hr/>
  <br/>

  <div class="row">
    <div class="columns large-2 no-left-padding">
      <%= link_to new_post_path, class: 'button small' do %>
        <%= image_tag 'plus-icon.svg', class: 'ty-icon' %>
        &nbsp;
        New Post
      <% end %>
    </div>

    <div class="columns large-10 left">
      <span>Sort Events By:</span> &nbsp;
      <ul class="button-group sorter">
        <li><%= sortable 'Start Date', 'start_date', action_name %></li>
        <li><%= sortable 'Organization', 'organization', action_name %></li>
        <li><%= sortable 'Community', 'community', action_name %></li>
      </ul>
    </div>
  </div>

  <br/>

  <ul class="posts no-bullet">
    <% @events.each do |post| %>
        <%= render 'layouts/posts_index_list', post: post %>
    <% end %>
  </ul>

  <br/><br/>

  <%= will_paginate @events, renderer: FoundationPagination::Rails %>
  <br/><br/>
</div>
