<p id="notice"><%= notice %></p>

<div class="row">

  <div class="large-6 columns">
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.description %>
    </p>

  <% if @post.start_date %>
    <p>
      <strong>Event Dates:</strong>
      <br/>
      <em>Start Date:</em>
      <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= @post.start_date.strftime('%m/%d/%Y') %> <%= @post.start_time.to_s(:time) %>

      <br/>
  <% end %>
  <% if @post.end_date %>
      <em>End Date:</em>
      <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= @post.end_date.strftime('%m/%d/%Y') %> <%= @post.end_time.to_s(:time) %>
    </p>
  <% end %>

    <p>
      <strong>Locations:</strong>
      <% if @post.locations %>
        <ul id="<%= dom_id(@post) %>">
          <% @post.locations.each do |location| %>
            <li>
              <span id="<%= dom_id(location) %>">
                  <%= location.name %><br/>
                  <%= location.address %>
                  <%= location.city %>,
                  <%= location.state %>
                  <%= location.postcode %>
              </span>

              <%= link_to 'Remove Location',
                  post_location_path(@post.id, location.id),
                  method: :delete,
                  class: "button alert tiny remove_location",
                  data: { confirm: 'Are you sure?' } %>
             </li>

          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>Communities</strong>
      <% if @post.communities %>
        <ul>
          <% @post.communities.each do |community| %>
              <li>
                <%= link_to community.name, community %>
                <%= form_tag("/posts/#{@post.id}/community", method: 'delete') do |f| %>
                    <% if current_user %>
                      <%= hidden_field_tag 'user_id', current_user.id %>
                      <%= hidden_field_tag 'community_id', community.id %>
                    <% end %>
                    <%= submit_tag 'Remove Community', :class => 'button tiny secondary' %>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>

    </p>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>

  <div class="large-6 columns">
    <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <button class="button tiny toggle" data-toggle="hidden">Comment?</button>

    <div class="hidden">
    <%= form_tag post_comments_path(@post), :enctype => "multipart/form-data", :class => 'comment' do %>
        <div class="row">
          <div class="large-4 columns actions">
            <%= label_tag :photo, 'Add a pic?'%>
            <%= file_field_tag 'comment[photo]' %>
            <%= hidden_field_tag :retained_photo %>

            <%= text_area_tag 'comment[content]' %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns actions">
            <%= submit_tag 'Save Comment', :class => 'button small success' %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <strong>Comments:</strong>
    <% if @post.comments %>
        <% @post.comments.each do |comment| %>
        <p>
          <% if comment.user %>

              <%= comment.content %>

              <% if comment.photo %>
                  <%= image_tag comment.photo.url, class: 'comment-photo' %>
              <% end %>
              <br/>

              <%= comment.created_at.strftime('%m/%d/%Y %I:%M%P') %>
              by
              <%= link_to comment.user.username, comment.user %>

              &nbsp;&nbsp;&nbsp;&nbsp;

              <% if current_user == comment.user || current_user.admin? %>
                  <button class="button tiny secondary toggle comment-edit" data-toggle="<%= dom_id(comment) %>">Edit</button>
                  <div class="hidden <%= dom_id(comment) %>">
                    <%= form_for(comment) do |f| %>
                        <div class="row">
                          <div class="large-4 columns actions">
                            <%= f.label :photo, 'Add a pic?'%>
                            <%= f.file_field :photo, id: dom_id(comment) + '_photo'%>
                            <%= f.hidden_field :retained_photo %>

                            <%= f.text_area :content, :id => dom_id(comment) + '_content' %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="large-4 columns actions">
                            <%= submit_tag 'Save Comment',
                                           :class => 'button small success',
                                           :id => "save_" + dom_id(comment) %>

                            <h5><small>
                              <%= link_to 'Delete Comment', comment, method: :delete,
                                          id: dom_id(comment) + '_delete',
                                          data: { confirm: 'Are you sure?' },
                                          class: 'delete' %>
                            </small></h5>
                          </div>
                        </div>
                    <% end %>
                  </div>
              <% end %>
          <% else %>
              <%= comment.content %>
              <br/>
              <%= comment.created_at.strftime('%m/%d/%Y %I:%M%P') %>
              by Anonymous

              &nbsp;&nbsp;&nbsp;&nbsp;

              <button class="button tiny toggle" data-toggle="reply_<%= dom_id(comment) %>">Reply?</button>

              <div class="hidden reply_<%= dom_id(comment) %>">
                <%= form_tag comment_replies_path(comment), :enctype => "multipart/form-data", :class => 'reply' do %>
                    <div class="row">
                      <div class="large-4 columns actions">
                        <%= label_tag :photo, 'Add a pic?'%>
                        <%= file_field_tag 'reply[photo]' %>
                        <%= hidden_field_tag :retained_photo %>

                        <%= text_area_tag 'reply[content]' %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 columns actions">
                        <%= submit_tag 'Save Reply', :class => 'button small success' %>
                      </div>
                    </div>
                <% end %>
              </div>
              <br/>
              <br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <% comment.replies.each do |reply| %>
                <p><%= reply.content %>
              <% end %>
        <% end %>
        </p>
        <% end %>
  <% end %>
  </div>
</div>

<br/><br/>

