<div class="row">

  <div class="large-8 columns">
    <div class="post-content">
    <h2 class="title">
      <%= @post.title %>
    </h2>

    <p>
      <%= @post.description %>
    </p>
    </div>

    <hr/>

    <div class="row">
      <div class="large-4 columns right">
        <div class="post-meta right">
           <span class="left">
             posted by:
             <br/>
             at: <%= @post.created_at.strftime('%m/%d/%Y %I:%M%P') %>
           </span>

          <% if @post.user %>
              <%= link_to @post.user, :class => 'post-user-image right' do %>
                  <% if @post.user.photo %>
                      <%= image_tag @post.user.photo.thumb('50x50#').url %>
                  <% else %>
                      <%= image_tag 'avatar.png', :width => '50' %>
                  <% end %>
              <% end %>
          <% else %>
              <strong>Anonymous</strong>
          <% end %>

        </div>
        <% if @post.user == current_user %>
            <%= link_to edit_post_path(@post), class: 'button tiny icon right', title: 'Edit Post' do %>
                <%= image_tag 'edit-icon.svg', class: 'icon' %>
            <% end %>
        <% end %>
      </div>

      <div class="large-8 columns left">
        <div class="post-attrs">

          <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active" role="presentational" >
              <a href="#dates" role="tab" tabindex="0" aria-selected="true" controls="dates">Dates</a>
            </li>
            <li class="tab-title" role="presentational" >
              <a href="#locations" role="tab" tabindex="0"aria-selected="false" controls="locations">Locations</a>
            </li>
            <li class="tab-title" role="presentational">
              <a href="#communities" role="tab" tabindex="0" aria-selected="false" controls="communities">Communities</a>
            </li>
          </ul>
          <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="dates">
              <% if @post.start_date %>
                  <p>
                    <br/>
                    <em>Starting:</em>
                    <%= @post.start_date.strftime('%m/%d/%Y') %>
                    at
                    <%= @post.start_time.to_s(:time) if @post.start_time %>
                    <br/>
              <% end %>
              <% if @post.end_date %>
                  <em>Ending:</em>
                  <%= @post.end_date.strftime('%m/%d/%Y') %>
                  at
                  <%= @post.end_time.to_s(:time) if @post.end_time %>
                  </p>
              <% end %>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="locations">
              <% if @post.locations %>
                  <ul id="<%= dom_id(@post) %>" class="no-disc">
                    <% @post.locations.each do |location| %>
                        <li>
                          <span id="<%= dom_id(location) %>">
                            <strong><%= location.name %></strong>
                            <br/>
                            <span class="location-details">
                              <%= location.address %>
                              <%= location.city %>,
                              <%= location.state %>
                              <%= location.postcode %>
                            </span>
                          </span>

                          &nbsp;&nbsp;

                          <%= link_to post_location_path(@post.id, location.id),
                                      method: :delete,
                                      class: "button alert tiny remove_location icon",
                                      title: 'Remove Location',
                                      data: { confirm: 'Are you sure?' } do %>
                            <%= image_tag 'trash-icon.svg', class: 'icon' %>
                          <% end %>
                        </li>

                    <% end %>
                  </ul>
              <% end %>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="communities">
              <p>
                <% if @post.communities %>
                  <ul class="no-disc">
                    <% @post.communities.each do |community| %>
                        <li>
                          <%= link_to community.name, community %>
                          <!--<%= form_tag("/posts/#{@post.id}/community", method: 'delete') do |f| %>-->
                              <!--<% if current_user %>-->
                                  <!--<%= hidden_field_tag 'user_id', current_user.id %>-->
                                  <!--<%= hidden_field_tag 'community_id', community.id %>-->
                              <!--<% end %>-->
                              <!--<%= submit_tag 'Remove Community', :class => 'button tiny secondary' %>-->
                          <!--<% end %>-->
                        </li>
                    <% end %>
                  </ul>
              <% end %>

              </p>
            </section>
          </div>
        </div>
        </div>

      </div>
  </div>

  <div class="large-4 columns">
    <div id="map" class="post-map"></div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <button class="button tiny toggle" data-toggle="post-comment">Comment?</button>

    <div class="hidden post-comment">
    <%= form_tag post_comments_path(@post), :enctype => "multipart/form-data", :class => 'comment' do %>
        <div class="row">
          <div class="large-4 columns actions">
            <%= label_tag :photo, 'Add a pic?'%>
            <%= file_field_tag 'comment[photo]' %>
            <%= hidden_field_tag :retained_photo %>

            <%= text_area_tag 'comment[content]' %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns actions">
            <%= submit_tag 'Save Comment', :class => 'button small success' %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns comments">
    <% if @post.comments %>
        <%= render 'comments', {comments: @post.comments} %>
    <% end %>
  </div>
</div>


<br/><br/>

