<%= content_for(:title) do %>
  <% unless @post.title.blank? %>
    <%= @post.title %> |
  <% else %>
    Post |
  <% end %>
<% end %>
<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:published_time" content="<%= @post.created_at.strftime('%Y-%m-%d %H:%M') %>" />
  <meta property="og:author" content="<%= @post.user.username if @post.user && @post.user.username %>" />
  <% if @post.description %>
    <meta property="og:description" content="<%= truncate(strip_tags( markdown(@post.description) ), length: 50) %>" />
  <% end %>
  <% if @post.image %>
    <%= tag :meta, property: 'og:image', content: "http://#{request.host}#{@post.image.url}" %>
  <% end %>
<% end %>


<div class="row">

  <div class="large-8 columns">
    <div class="post-content">
      <h2 class="title">
        <%= @post.title %>
      </h2>
      <div class="row">
        <div class="large-12 columns">
          <% if @post.image %>
            <%= image_tag @post.image.url, class: 'post-image', data: { action: 'zoom' } %>
          <% end %>
          <br/><br/>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= markdown(@post.description) if @post.description %>
        </div>
      </div>
      <br/><br/>

      <% unless @post.audios.empty? %>
        <ul class="no-bullet audio-list">
          <% @post.audios.each do |audio| %>
            <li>
              <strong><%= audio.audio.name %></strong>
              <br/>
              <%= audio_tag audio.audio.url, controls: true, preload: 'none' %>

              &nbsp;&nbsp;&nbsp;&nbsp;

              <%= link_to audio.audio.url, class: 'button tiny success' do %>
                <%= image_tag 'download-icon.svg', class: 'ty-icon' %> &nbsp;
                Download <%= audio.audio.name[0..-5] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="row post-second-row">
        <div class="large-9 columns">
          <% unless @post.og_url.blank? %>
            <div class="row og-row">
              <div class="large-4 columns og-data">
                <%= link_to @post.og_url, class: 'og-url', target: '_blank' do %>
                  <%= image_tag @post.og_image, class: 'og-image' %>
                  <h5 class="og-title"><%= @post.og_title %></h5>
                  <p class="og-description"><%= @post.og_description %> </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row social-row">
        <div class="large-3 columns social-share right">
          <% if @post.description %>
            <%= link_to "https://twitter.com/intent/tweet?url=#{request.original_url}&text=#{truncate( strip_tags( markdown(@post.description) ), length: 25)}&hashtags=boone,bcn",
                        target: '_blank', class: 'button sm-icon info share' do %>
              <%= image_tag 'twitter-icon-white.svg', class: 'sm-icon' %>
            <% end %>
          <% end %>

          <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}&title=#{@post.title}",
                      target: '_blank', class: 'button sm-icon info share' do %>
            <%= image_tag 'facebook-icon-white.svg', class: 'sm-icon' %>
          <% end %>
          <%= link_to "https://plus.google.com/share?url=URL=#{request.original_url}",
                      target: '_blank', class: 'button sm-icon info share' do %>
            <%= image_tag 'google-icon-white.svg', class: 'sm-icon' %>
          <% end %>
        </div>
      </div>

    </div>

    <hr/>

    <div class="row">
      <div class="large-4 columns right post-meta-container">
        <div class="post-meta right">
          <%= render 'post_sig' %>
        </div>

        <div class="post-edit">

          <% if @post.user == current_user || (current_user && current_user.admin?) %>
            <%= link_to edit_post_path(@post), class: 'button tiny icon post-edit-link', title: 'Edit Post' do %>
              <%= image_tag 'edit-icon.svg', class: 'icon' %>
            <% end %>
          <% end %>
        </div>


        <% if current_user && @post.user != current_user %>
          <% if current_user.subscriptions.find_by(post_id: @post.id) %>
            <%= link_to '#',
                        class: 'button tiny secondary icon post-subscribe',
                        title: 'Unsubscribe from Post',
                        data: { post_id: @post.id, current_user_id: current_user.id, status: 'subscribed' } do %>

              <%= image_tag 'tack-icon-green.svg', class: 'icon', title: 'Unsubscribe from Post' %>
            <% end %>
          <% else %>
            <%= link_to '#',
                        class: 'button tiny icon post-subscribe',
                        title: 'Subscribe to Post',
                        data: { post_id: @post.id, current_user_id: current_user.id, status: 'unsubscribed' } do %>
              <%= image_tag 'tack-icon.svg', class: 'icon', title: 'Subscribe to Post' %>
            <% end %>

          <% end %>
        <% end %>
      </div>

      <div class="large-8 columns left post-objects">
        <div class="post-attrs">

          <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active" role="presentational" >
              <a href="#dates" role="tab" tabindex="0" aria-selected="true" controls="dates">Dates</a>
            </li>
            <li class="tab-title" role="presentational" >
              <a href="#locations" role="tab" tabindex="0" aria-selected="false" controls="locations">Locations</a>
            </li>
            <li class="tab-title" role="presentational">
              <a href="#communities" role="tab" tabindex="0" aria-selected="false" controls="communities">Communities</a>
            </li>
            <li class="tab-title" role="presentational">
              <a href="#gallery" role="tab" tabindex="0" aria-selected="false" controls="gallery">Gallery</a>
            </li>
          </ul>
          <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="dates">
              <% if @post.start_date %>
                <p>
                  <br/>
                  <em>Starting:</em>
                  <%= @post.start_date.strftime('%m/%d/%Y') %>
                  at
                  <%= @post.start_time.to_s(:time) if @post.start_time %>
                  <br/>
              <% end %>
              <% if @post.end_date %>
                <em>Ending:</em>
                <%= @post.end_date.strftime('%m/%d/%Y') %>
                at
                <%= @post.end_time.to_s(:time) if @post.end_time %>
                </p>
              <% end %>

              <% unless @post.start_date && @post.end_date %>
                <p class="grey">No dates set.</p>
              <% end %>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="locations">
              <% unless @post.locations.empty? %>
                <ul id="<%= dom_id(@post) %>" class="no-disc">
                  <% @post.locations.each do |location| %>
                    <li>
                          <span id="<%= dom_id(location) %>">
                            <strong><%= location.name %></strong>
                            <br/>
                            <span class="location-details">
                              <%= location.address %>
                              <%= location.city %>,
                              <%= location.state %>
                              <%= location.postcode %>
                            </span>
                          </span>

                      &nbsp;&nbsp;

                      <% if @post.user == current_user || (current_user && current_user.admin?) %>
                        <%= link_to post_location_path(@post.id, location.id),
                                    method: :delete,
                                    class: "button alert tiny remove_location icon",
                                    title: 'Remove Location',
                                    data: { confirm: 'Are you sure?' } do %>
                          <%= image_tag 'trash-icon.svg', class: 'icon' %>
                        <% end %>
                      <% end %>
                    </li>

                  <% end %>
                </ul>
              <% else %>
                <p class="grey" id="no-locations">No locations set.</p>
              <% end %>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="communities">
              <% unless @post.communities.empty? %>
                <ul class="communities no-disc">
                  <% @post.communities.each do |community| %>
                    <%= render 'layouts/communities_list', community: community %>
                  <% end %>
                </ul>
              <% else %>
                <p class="grey">No communities set.</p>
              <% end %>
            </section>
            <section role="tabpanel" aria-hidden="true" class="content" id="gallery">
              <% if not @gallery.empty? %>
                <ul class="gallery clearing-thumbs small-block-grid" data-clearing>
                  <% if @post.image %>
                    <li><a href="<%= @post.image.url %>" class="th"><img src="<%= @post.image.url %>" width="120"></a></li>
                  <% end %>

                  <% if @post.photos %>
                    <% @post.photos.each do |photo| %>
                      <li><a href="<%= photo.image.url %>" class="th"><img src="<%= photo.image.url %>" width="120"></a></li>
                    <% end %>
                  <% end %>

                  <% @gallery.each do |image| %>
                    <li><a href="<%= image %>" class="th"><img src="<%= image %>" width="120"></a></li>
                  <% end %>
                </ul>
              <% elsif not @post.photos.empty? %>
                <ul class="gallery clearing-thumbs small-block-grid" data-clearing>
                    <% @post.photos.each do |photo| %>
                      <li><a href="<%= photo.image.url %>" class="th"><img src="<%= photo.image.url %>" width="120"></a></li>
                    <% end %>
                </ul>
              <% else %>
                <p class="grey">No pictures uploaded... yet.</p>
              <% end %>
            </section>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="large-3 columns map-container">
    <div class="row">
      <div class="large-12">
        <div class="org-link">
          <% if @post.organization %>
            <%= link_to @post.organization do %>
              <%= image_tag @post.organization.image.url, width: '150' if @post.organization.image %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12">
        <%= button_tag class: 'button tiny secondary expand-map' do %>
          <%= image_tag 'expand-icon.svg', class: 'ty-icon' %> &nbsp;
          Expand Map
        <% end %>
        <%= button_tag class: 'button tiny secondary contract-map hidden' do %>
          <%= image_tag 'contract-icon.svg', class: 'ty-icon' %> &nbsp;
          Shrink Map
        <% end %>
        <div id="map" class="post-map"></div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <a class="button tiny toggle comment-button" data-toggle="post-comment">
      <%= image_tag 'reply-icon-white.svg', class: 'ty-icon toggle', data: { toggle: "post-comment" } %> &nbsp;
      Comment?
    </a>

    <div class="hidden post-comment">
      <%= form_tag post_comments_path(@post), :enctype => "multipart/form-data", :class => 'comment' do %>
        <div class="row">
          <div class="large-4 columns actions">
            <%= image_tag 'avatar.png', class: 'hidden image_to_upload' %>

            <%= label_tag :photo, 'Add a pic?'%>
            <%= file_field_tag 'comment[photo]', class: 'photo_upload' %>
            <%= hidden_field_tag :retained_photo %>

            <%= text_area_tag 'comment[content]' %>

            <% if current_user && !current_user.organizations.blank? %>
              <div>
                <label for="commentor">Comment As:</label>
                <select name="comment[organization_id]" id="post_organization">
                  <option value=""></option>
                  <% current_user.organizations.each do |organization| %>
                    <option value="<%= organization.id %>"><%= organization.name %></option>
                  <% end %>
                </select>
              </div>
            <% end %>

          </div>
        </div>

        <div class="row">
          <div class="large-4 columns actions">
            <%= button_tag type: 'submit', class: 'button small success save-comment' do %>
              <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
              &nbsp;
              Save Comment
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="large-12 columns comments">
    <% if @post.comments %>
      <%= render 'comments', {comments: @post.comments} %>
    <% end %>
  </div>
</div>


<br/><br/>
