<p id="notice"><%= notice %></p>

<div class="row">

  <div class="large-6 columns">
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.description %>
    </p>

    <p>
      <strong>Locations:</strong>
      <% if @post.locations %>
        <ul id="<%= dom_id(@post) %>">
          <% @post.locations.each do |location| %>
            <li>
              <span id="<%= dom_id(location) %>">
                  <%= location.name %><br/>
                  <%= location.address %>
                  <%= location.city %>,
                  <%= location.state %>
                  <%= location.postcode %>
              </span>

              <%= link_to 'Remove Location',
                  post_location_path(@post.id, location.id),
                  method: :delete,
                  class: "button alert tiny remove_location",
                  data: { confirm: 'Are you sure?' } %>
             </li>

          <% end %>
        </ul>
      <% end %>
    </p>

    <p>
      <strong>Communities</strong>
      <% if @post.communities %>
        <ul>
          <% @post.communities.each do |community| %>
              <li>
                <%= link_to community.name, community %>
                <%= form_tag("/posts/#{@post.id}/community", method: 'delete') do |f| %>
                    <% if current_user %>
                      <%= hidden_field_tag 'user_id', current_user.id %>
                      <%= hidden_field_tag 'community_id', community.id %>
                    <% end %>
                    <%= submit_tag 'Remove Community', :class => 'button tiny secondary' %>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>

    </p>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>

  <div class="large-6 columns">
    <div id="map"></div>
  </div>
</div>
<br/><br/>

