
<div class="row">
  <div class="large-8 columns">
    <br/>
    <table class="members">
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Status</th>
        <th></th>
      </tr>

      <% if @roles %>
        <% @roles.each do |role| %>
          <tr>

            <td>
              <%= role.user.email %>
            </td>
            <td>
              <%= role.user.username if role.user.username %>
            </td>
            <td>
              <%= role.name %>
            </td>
            <td>
              <%= form_tag organization_role_path(@organization, role), { method: 'PATCH'} do %>

                <%= select_tag 'role[name]', options_for_select([
                                                                        ['', ''],
                                                                        ['Leader', 'leader'],
                                                                        ['Member', 'member'],
                                                                        ['Remove', 'remove']
                                                                ],
                                                                role.name)
                %>

                <%= button_tag type: 'submit', class: 'button tiny success' do %>
                  <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
                  &nbsp;
                  Update Status
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p class="grey">No members... yet.</p>
      <% end %>
    </table>
  </div>
</div>

