<div class="small-12 large-12 columns">

  <h2 class="page-title">Communities</h2>

  <br/>

  <% if current_user && current_user.admin? %>
    <%= link_to new_community_path, class: 'button small' do %>
      <%= image_tag 'plus-icon.svg', class: 'ty-icon' %>
      &nbsp;
      New Community
    <% end %>
  <% end %>
  <section class="secondary-tabs">

  <ul class="tabs" data-tab>
    <% @communities.each do |community| %>
      <% if community == @communities[0] %>

        <li class="tab-title active community-tab">
          <%= link_to community, class: 'community-link' do %>
            <%= image_tag community.image.thumb('25x25#').url %>
          <% end %>
          <a href="#<%= dom_id(community) %>">
            <%= community.name %>
          </a>
        </li>
      <% else %>
        <li class="tab-title community-tab">
          <%= link_to community, class: 'community-link' do %>
            <%= image_tag community.image.thumb('25x25#').url %>
          <% end %>
          <a href="#<%= dom_id(community) %>">
            <%= community.name %>
          </a>
        </li>

      <% end %>

    <% end %>

  </ul>

  <div class="tabs-content">
    <% @communities.each do |community| %>
      <% if community == @communities[0] %>
        <div class="content active" id="<%= dom_id(community) %>">

      <% else %>
        <div class="content" id="<%= dom_id(community) %>">
      <% end %>

          <ul class="organizations no-disc">
            <% community.organizations.each do |organization| %>
              <%= render 'layouts/organizations_list', organization: organization %>
            <% end %>
          </ul>
        </div>

    <% end %>

    </div>
    </section>


    <br/><br/>
  </div>
