<div class="small-12 large-12 columns">

  <h2 class="page-title">Communities</h2>
  <p class="grey">We're all part of the Boone community, but there are multiple communities available...</p>
  <hr/>
  <br/>

  <div id="community_logo" class="text-center">
    <%= image_tag 'bcn_logo.svg', style: 'width: 500px' %>
  </div>

























<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

  <% if current_user && current_user.admin? %>
    <%= link_to new_community_path, class: 'button small' do %>
      <%= image_tag 'plus-icon.svg', class: 'ty-icon' %>
      &nbsp;
      New Community
    <% end %>
  <% end %>
  <section class="secondary-tabs">

    <ul class="tabs" data-tab>
      <% @communities.each do |community| %>
        <li class="tab-title active community-tab">
          <a href="#<%= dom_id(community) %>">
            <%= image_tag community.image.thumb('50x50#').url %>
            <%= community.name %>
          </a>
        </li>

      <% end %>

    </ul>

    <div class="tabs-content">
      <% @communities.each do |community| %>
        <% if community == @communities[0] %>
          <div class="content active" id="<%= dom_id(community) %>">

        <% else %>
          <div class="content" id="<%= dom_id(community) %>">
        <% end %>


        <div class="row">
          <div class="columns large-12 text-center">
            <br/><br/>

            <%= link_to community.name + ' Community', community, class: 'button small' %>
          </div>
        </div>

        <ul class="organizations no-disc">
          <% community.organizations.each do |organization| %>
            <%= render 'layouts/organizations_list', organization: organization %>
          <% end %>
        </ul>
        </div>

      <% end %>

      </div>

      <br/><br/>
    </div>
  </section>
