
<h2><%= @community.name %></h2>

<p>
  <strong>Description:</strong>
  <%= @community.description %>
</p>

<p>
  <strong>Home page:</strong>
 <%= link_to @community.home_page %>
</p>

<p>
  <strong>Color:</strong>
  <span style="background: <%= @community.color %>; color: white; padding: 3px;"><%= @community.color %></span>
</p>

<p>
  <strong>Events URL:</strong>
  <%= @community.events_url %>
</p>

<p>
  <% if current_user %>
      <%= form_tag("/communities/#{@community.id}/users", method: 'patch') do |f| %>
          <%= hidden_field_tag 'user_id', current_user.id %>
          <%= submit_tag 'Join Community', :class => 'button small' %>
      <% end %>
  <% end %>
</p>
<p>
  <strong>Members:</strong>
  <ul>
    <% @community.users.each do |user| %>
      <li><%= link_to "#{user.first_name} #{user.last_name}", user %></li>
    <% end %>
  </ul>
</p>
<br/>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Destroy', @community, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', communities_path %>
