<%= content_for(:title) do %><%= @community.name %> | <% end %>
<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @community.name %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= @community.description %>" />
  <% if @community.image %>
    <%= tag :meta, property: 'og:image', content: "http://#{request.host}#{@community.image.url}" %>
  <% end %>
<% end %>

<div class="row">

  <div class="large-8 columns">
    <div class="row">
      <div class="large-6 columns">
        <h2 class="title">
          <%= @community.name %>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <% if @community.image %>
          <%= image_tag @community.image.url, class: 'community-image',
                        data: { action: 'zoom' },
                        style: 'border: 5px solid ' + @community.color %>
        <% end %>
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= markdown(@community.description) %>
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns social">
        <% unless @community.home_page.blank? %>
          <%= link_to @community.home_page, target: '_blank' do %>
            <%= image_tag 'globe-icon.svg', class: 'icon' %>
          <% end %>
        <% end %>
        <% unless @community.facebook_link.blank? %>
          <%= link_to @community.facebook_link, target: '_blank' do %>
            <% image_tag 'facebook-icon.svg', class: 'image-link' %>
          <% end %>
        <% end %>
        <% unless @community.twitter_link.blank? %>
          <%= link_to @community.twitter_link, target: '_blank' do %>
            <% image_tag 'twitter-icon.svg', class: 'image-link' %>
          <% end %>
        <% end %>
        <% unless @community.google_link.blank? %>
          <%= link_to @community.google_link, target: '_blank' do %>
            <% image_tag 'google-icon.svg', class: 'image-link' %>
          <% end %>
        <% end %>
        <br/><hr/><br/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <% if !@community.users.include?(current_user) && current_user %>

          <%= button_tag type: 'submit', class: 'button small dropdown', data: { dropdown: 'orgs' } do %>
            <%= image_tag 'group-icon-white.svg', class: 'ty-icon' %>
            &nbsp;
            Join <%= @community.name %>
          <% end %>
          <ul id="orgs" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li>
              <%= link_to community_users_path(@community, user_id: current_user.id),
                          class: 'join-community',
                          method: :patch do
              %>
                as Me
              <% end %>
            </li>
            <% current_user.organizations.each do |organization| %>
              <li>
                <% unless @community.organizations.include?(organization) %>
                  <%= link_to community_organizations_path(@community, organization_id: organization.id),
                              class: 'org-join',
                              method: :patch,
                              data: { id: organization.id } do
                  %>
                    as <%= organization.name %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
          &nbsp;&nbsp;
        <% end %>


        <% if current_user %>
          <% if current_user.subscriptions.find_by(community_id: @community.id) %>
            <%= link_to '#',
                        class: 'button secondary small community-subscribe',
                        title: 'Unsubscribe from Community',
                        data: { model_id: @community.id, current_user_id: current_user.id,
                                status: 'subscribed' } do %>

              <%= image_tag 'tack-icon-green.svg', class: 'ty-icon' %>
              Unsubscribe
            <% end %>
            &nbsp;&nbsp;
          <% else %>
            <%= link_to '#',
                        class: 'button small community-subscribe',
                        title: 'Subscribe to Community',
                        data: { model_id: @community.id, current_user_id: current_user.id,
                                status: 'unsubscribed' } do %>
              <%= image_tag 'tack-icon.svg', class: 'ty-icon' %>
              &nbsp;
              Subscribe
            <% end %>
            &nbsp;&nbsp;
          <% end %>
        <% end %>

        <%= link_to new_post_path(community: @community.name), class: 'button small' do %>
          <%= image_tag 'plus-icon.svg', class: 'ty-icon' %>
          &nbsp;
          New Post
        <% end %>
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#posts">Posts</a></li>
          <li class="tab-title"><a href="#members">Members</a></li>
          <li class="tab-title"><a href="#organizations">Organizations</a></li>
          <li class="tab-title"><a href="#location">Default Location</a></li>
        </ul>

        <div class="tabs-content">
          <div class="content active" id="posts">
            <ul class="posts no-bullet">
              <% @posts.each do |post| %>
                <%= render 'layouts/posts_list', post: post %>
              <% end %>
            </ul>

            <br/><br/>
            <%= will_paginate @posts, renderer: FoundationPagination::Rails %>

            <% if @community.posts.blank? %>
              <span class="grey">Currently there are no posts.</span>
            <% end %>
          </div>
          <div class="content" id="members">
            <ul class="no-disc member-list">
              <% @community.users.each do |user| %>
                <li>
                  <% if user.photo %>
                    <%= link_to user do %>
                      <%= image_tag user.photo.thumb('75x75#').url %>
                    <% end %>
                    &nbsp;&nbsp;
                  <% end %>
                  <%= link_to user.username, user %>

                  <% if current_user && current_user.admin? %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= form_tag("/communities/#{@community.id}/users", method: 'delete', class: 'leave-community-form') do |f| %>
                      <%= hidden_field_tag 'user_id', user.id %>
                      <%= image_submit_tag 'trash-icon.svg', :class => 'button alert tiny remove_user icon',
                                           :alt => 'Remove User',
                                           :value => 'Remove User',
                                           :title => 'Remove User' %>
                    <% end %>
                  <% end %>

                </li>
              <% end %>

              <% if @community.users.blank? %>
                <span class="grey">Currently there are no members.</span>
              <% end %>
            </ul>
          </div>
          <div class="content" id="organizations">
            <ul class="organizations no-disc">
              <% @community.organizations.each do |organization| %>
                <%= render 'layouts/organizations_list', organization: organization %>
              <% end %>
            </ul>

            <% if @community.organizations.blank? %>
              <span class="grey">Currently there are no organizations in this community.</span>
            <% end %>
          </div>
          <div class="content" id="location">
            <ul id="<%= dom_id(@community) %>" class="no-disc">
              <li>
                <% if @community.location %>
                  <span id="<%= dom_id(@community.location) %>">
                    <strong><%= @community.location.name %></strong>
                    <br/>
                    <span class="location-details">
                      <%= @community.location.address %>
                      <%= @community.location.city %>,
                      <%= @community.location.state %>
                      <%= @community.location.postcode %>
                    </span>
                  </span>
                <% else %>
                  <p class="grey">No default location set.</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="large-4 columns map-container">
    <div id="map" class="community-map"></div>

    <br/>

    <div>
      <% if current_user && current_user.admin? %>
        <%= link_to edit_community_path(@community), class: 'button tiny icon edit-community',
                    title: 'Edit Community' do %>
          <% image_tag 'edit-icon.svg', class: 'icon' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<br/>
<br/>