<h4>Sign In with Facebook</h4>

<%= link_to "Login with Facebook", '/auth/facebook', :class => 'button small success', :id => 'facebook_login' %>


<h4>Sign In With Twitter</h4>

<%= link_to "Login with Twitter", '/auth/twitter', :class => 'button small success', :id => 'twitter_login' %>

<hr/>

<h4>Sign In With Email</h4>

<%= form_tag user_sessions_path do %>

    <div class="row">
      <div class="large-4 columns">
         <%= label_tag :email, 'Email' %>
         <%= text_field_tag :email, params[:email] %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns actions">
        <%= submit_tag 'Log In', :class => 'button small success' %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns actions">
        <h4><small><%= link_to 'Forgot Password?', new_password_reset_path %></small></h4>
      </div>
    </div>
<% end %>