
<li class="<%= dom_id(post) %> post row">
  <div class="row">
    <div class="large-2 columns post-list-image">

      <% if post.image %>
        <%= link_to post do %>
          <%= image_tag post.image.thumb('75x75#').url %>
        <% end %>
      <% elsif post.og_image && post.og_image != '//:0' && !post.og_image.blank? %>
        <%= link_to post do %>
          <%= image_tag post.og_image %>
        <% end %>
      <% elsif post.start_date %>
        <%= link_to post do %>
          <%= image_tag 'calendar-icon.svg', size: '75x75', alt: post.title %>
        <% end %>
      <% else %>
        <%= link_to post do %>
          <%= image_tag 'bcn_logo_black.svg', size: '75x75', alt: post.title %>
        <% end %>
      <% end %>
    </div>

    <div class="large-10 columns">

      <% if post.title.blank? %>
        <span class="post-title">
          <%= link_to post.og_url, id: dom_id(post), target: '_blank' do %>
            <%= post.og_title %>
          <% end %>
        </span>
      <% else %>
        <% if post.title.length > 100 %>
          <span class="post-title"><%= link_to truncate(post.title, length: 25), post, :id => dom_id(post) %></span>
        <% else %>
          <span class="post-title"><%= link_to post.title, post, :id => dom_id(post) %></span>
        <% end %>
      <% end %>

      <br/>

    <span class="grey post-date smaller-text">
      <% if post.start_date %>
        On:
        <%= post.start_date.strftime('%m/%d/%Y') %>
        <% if post.start_time %>
           @ <%= post.start_time.to_s(:time) %>
        <% end %>
      <% else %>
        <%= time_ago_in_words post.created_at %>
      <% end %>

      by
      <% if post.organization %>
        <%= link_to post.organization.name, organization_path(post.organization), class: 'grey-link' %>
      <% elsif post.user && post.user.username %>
        <%= link_to post.user.username, user_path(post.user), class: 'grey-link' %>
      <% else %>
        Anonymous
      <% end %>
    </span>

      <% unless post.comments.blank? %>
        <span class="grey comment-count smaller-text"> &nbsp; <%= post.comments.count %> Comments</span>
      <% end %>



    </div>
  </div>
</li>