
<li class="<%= dom_id(post) %> post row">
  <div class="row">
    <% if post.image %>
        <% if action_name == 'home' || action_name == 'show' %>
            <div class="large-2 columns">
        <% else %>
            <div class="large-1 columns">
        <% end %>

        <%= link_to post do %>
            <%= image_tag post.image.thumb('75x75#').url %>
        <% end %>

        </div>
    <% end %>

    <% if post.og_image and post.image.nil? %>
        <% if action_name == 'home' || action_name == 'show' %>
            <div class="large-2 columns">
        <% else %>
            <div class="large-1 columns">
        <% end %>

        <%= link_to post do %>
            <%= image_tag post.og_image %>
        <% end %>

        </div>
    <% end %>

    <% if action_name == 'home' || action_name == 'show' %>
        <div class="large-10 columns">

    <% else %>
        <div class="large-11 columns">
    <% end %>

    <% if post.title.blank? %>
                <span class="post-title">
          <%= link_to post.og_url, id: dom_id(post), target: '_blank' do %>
          <%= post.og_title %>
              <% end %>
              </span>
    <% else %>
        <span class="post-title"><%= link_to post.title, post, :id => dom_id(post) %></span>
    <% end %>

    <% if post.description.blank?  %>
        <span class="post-text truncate" title="<%= post.og_description %>">
          <%= truncate(post.og_description, length: 50) %>
        </span>
    <% else %>
        <span class="post-text truncate" title="<%= post.description %>"><%= truncate(post.description, length: 50) %></span>
    <% end %>

    <br/>

    <span class="grey post-date smaller-text">
      <%= post.created_at.strftime('%m/%d/%Y %I:%M%P') %>
      by
      <% if post.user && post.user.username %>
        <%= link_to post.user.username, user_path(post.user), class: 'grey-link' %>
      <% else %>
        Anonymous
      <% end %>
    </span>

    <% unless post.comments.blank? %>
        <span class="grey comment-count smaller-text"> &nbsp; <%= post.comments.count %> Comments</span>
    <% end %>

    <% if post.locations %>
        <% if post.locations.count > 1 %>
            <span class="post-location smaller-text"><%= post.locations[0].name %> &amp; more...</span>
        <% else %>
            <% if post.locations.count == 1 %>
                <span class="post-location smaller-text"><%= post.locations[0].name %></span>
            <% end %>
        <% end %>
    <% end %>

    <% if post.communities %>
        <div class="post-communities">
          <% post.communities.each do |community| %>
              <span class="label info"><%= link_to community.name, community %></span>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>
 </li>