<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>BCN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="Find the latest interests, events, and goings on in the Boone, NC area.">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'clockpicker', media: 'all' %>
  <%= stylesheet_link_tag 'foundation-datepicker', media: 'all' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if content_for?(:meta_og) %>
      <%= yield :meta_og %>
  <% else %>
      <meta property="og:title" content="Boone Community Network" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://boonecommunitynetwork.com" />
      <%= tag :meta, property: 'og:image', content: image_url('bcn_logo.png') %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/nav' %>

    <% flash.each do |type, message| %>
    <div class="flash alert-box text-center <%= type %>", role="dialogalert", data-alert>
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>

  <div class="row collapse">
    <div class="row main">
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="large-6 columns">
        <div class="text-center">
          &copy; <span class="copyright-year"></span> Boone Community Network
        </div>
      </div>

      <div class="large-6 columns right text-center">
        <%= link_to 'Help', help_path %>
        &nbsp; | &nbsp;
        <%= link_to 'Contact Us', contact_path %>
        &nbsp; | &nbsp;
        <%= link_to 'About Us', about_path %>
      </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="large-12 columns">
        <p>
          Connecting you to the what, where, and when of Boone.
        </p>
      </div>
    </div>
  </footer>

  <% if current_user %>
    <script>
      window.user_id = <%= current_user.id %>
    </script>
  <% end %>

  <% if action_name == 'home' %>
    <%= render partial: 'layouts/tour_home' %>
  <% elsif action_name == 'new' && controller_name == 'posts' %>
    <%= render partial: 'layouts/tour_new_posts' %>
  <% elsif action_name == 'new' && controller_name == 'users' %>
    <%= render partial: 'layouts/tour_register' %>
  <% elsif action_name == 'new' && controller_name == 'user_sessions' %>
    <%= render partial: 'layouts/tour_login' %>
  <% elsif action_name == 'new' && controller_name == 'organizations' %>
    <%= render partial: 'layouts/tour_new_organization' %>
  <% elsif action_name == 'show' && controller_name == 'users' %>
    <%= render partial: 'layouts/tour_user_show' %>
  <% elsif action_name == 'edit' && controller_name == 'users' %>
    <%= render partial: 'layouts/tour_user_edit' %>
  <% else %>
    <ol class="joyride-list" data-joyride>
      <li data-button="End">
        <h4>Thank you!</h4>
        <p>Use the Tour link anytime to find out more about a page.</p>
      </li>
    </ol>
  <% end %>
</body>
</html>
