<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>BCN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="Find the latest interests, events, and goings on in the Boone, NC area.">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'clockpicker', media: 'all' %>
  <%= stylesheet_link_tag 'foundation-datepicker', media: 'all' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if content_for?(:meta_og) %>
      <%= yield :meta_og %>
  <% else %>
      <meta property="og:title" content="Boone Community Network" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://boonecommunitynetwork.com" />
      <%= tag :meta, property: 'og:image', content: image_url('bcn_logo.png') %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Boone Community Network</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input type="text" id="search_query" name="search[query]" placeholder="Search the Booniverse">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" id='search_button' class="secondary button expand">
                    <img src="<%= image_url('search-icon.svg') %>" width="15"/>
                  </a>
                </div>
              </div>
            </li>
            <li class="has-form">
              <%= link_to new_post_path, class: 'button small new-post', title: 'New Post' do %>
                <%= image_tag 'plus-icon.svg', size: '15x15' %>
              <% end %>
            </li>
            <% if current_user %>
                <% if current_user.photo %>
                    <li>
                      <%= link_to user_path(current_user), :class => 'profile' do %>
                          <%= image_tag current_user.photo.thumb('35x35#').url, :class => 'nav-profile-pic' %>
                    <% end %>
                    </li>
                <% elsif current_user.username %>
                    <li><%= link_to current_user.username, current_user, :class => 'profile' %></li>
                <% else %>
                    <li><%= link_to 'Profile', current_user, :class => 'profile' %></li>
                <% end %>
                <li><a href="<%= logout_path %>">Log Out</a></li>
            <% else %>
                <li><a href="<%= new_user_path %>">Register</a></li>
                <li><a href="<%= login_path %>">Login</a></li>
            <% end %>
          </ul>
        </section>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="/posts">Posts</a></li>
            <li></li>
            <li class="has-dropdown">
              <a href="/communities">Communities</a>
              <ul class="dropdown">
                <li><a href="/organizations">Organizations</a></li>
              </ul>
            </li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </section>
      </nav>


    <% flash.each do |type, message| %>
    <div class="flash alert-box text-center <%= type %>", role="dialogalert", data-alert>
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>

  <div class="row collapse">
    <div class="row main">
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="large-6 columns">
        <div class="text-center">
          &copy; <span class="copyright-year"></span> Boone Community Network
        </div>
      </div>

      <div class="large-6 columns right text-center">
        <%= link_to 'Help', help_path %>
        &nbsp; | &nbsp;
        <%= link_to 'Contact Us', contact_path %>
        &nbsp; | &nbsp;
        <%= link_to 'About Us', about_path %>
      </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="large-12 columns">
        <p>
          Boone Community Network is dedicated to bringing together the wide-ranging beautiful facets of Boone.
        </p>
      </div>
    </div>
  </footer>

  <% if current_user %>
    <script>
      window.user_id = <%= current_user.id %>
    </script>
  <% end %>
</body>
</html>
